@use "sass:string";
/**
 * Colors
 */

$primary-color: rgb(87, 185, 255);

$font-family: string.unquote("Baloo 2, Roboto, Helvetica, Arial, sans-serif");
/**
 * Easing
 */

$ease-duration: 333ms;
$ease-duration-dark-theme-input: 222ms;
$ease-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
