@use "sass:string";

/**
 * Colors
 */

$light-color: rgb(248, 248, 248);
$dark-color: rgb(51, 51, 51);

$primary-color: rgb(87, 185, 255);

/**
 * Easing
 */

$ease-duration: 333ms;
$ease-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);


/**
 * Font
 */
$font-family: string.unquote("'Baloo 2', Ubuntu, Roboto, Helvetica, Arial, sans-serif");
