@use "./variables";
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');
:root
{
    --black: rgb(0, 0, 0);
    --white: rgb(255, 255, 255);

    --clay-light-color-background: rgb(248, 248, 248);
    --clay-dark-color-background: rgb(51, 51, 51);

    --clay-primary-color: #{variables.$primary-color};
    --clay-input-primary-color-light : #{variables.$primary-color-input-light};
    --clay-input-primary-color-dark : #{variables.$primary-color-input-dark};
    --clay-ease-duration: #{variables.$ease-duration};
    --clay-ease-duration-dark-theme-input: #{variables.$ease-duration-dark-theme-input};
    --clay-ease-function: #{variables.$ease-function};

    @media (prefers-color-scheme: light)
    {
        --clay-color-background: var(--clay-light-color-background);
    }
    @media (prefers-color-scheme: dark)
    {
        --clay-color-background: var(--clay-dark-color-background);
    }
}

body
{
    background-color: var(--clay-color-background);
    color-scheme: normal;
    height: 100%;
    text-align: center;
    transition: background-color var(--clay-ease-duration) var(--clay-ease-function);
    font-family: variables.$font-family;
    &[light]
    {
        color-scheme: light;
    }
    &[dark]
    {
        color-scheme: dark;
    }
}
