@use "./variables";

:root
{
    --black: rgb(0, 0, 0);
    --white: rgb(255, 255, 255);

    --clay-light-color-background: #{variables.$light-color};
    --clay-dark-color-background: #{variables.$dark-color};

    --clay-primary-color: #{variables.$primary-color};

    --clay-ease-duration: #{variables.$ease-duration};
    --clay-ease-function: #{variables.$ease-function};

    --clay-text-color: var(--black);

    @media (prefers-color-scheme: light)
    {
        --clay-color-background: var(--clay-light-color-background);
        --clay-text-color: var(--black);
    }
    @media (prefers-color-scheme: dark)
    {
        --clay-color-background: var(--clay-dark-color-background);
        --clay-text-color: var(--white);
    }
}

body
{
    background-color: var(--clay-color-background);
    color: var(--clay-text-color);
    color-scheme: normal;
    height: 100%;
    text-align: center;
    transition: background-color var(--clay-ease-duration) var(--clay-ease-function),
                color var(--clay-ease-duration) var(--clay-ease-function);

    &[light]
    {
        color-scheme: light;
    }
    &[dark]
    {
        color-scheme: dark;
    }
}
