# Files created by OS
#
.DS_Store
Desktop.ini

# Files created by IDE
#
/.idea/
/.vscode/

/*.code-workspace

# Downloadable & installable modules & components
#
/.pnp.cjs
/.pnp.loader.mjs

/.yarn/
/node_modules/

# Generated & compiled files
#
/.storybook/dist/
/dist/
/types/

/tsconfig.tsbuildinfo

# Environmental files
#
.env

# Log files
#
/yarn-error.log

# Not ignored
#
!.gitkeep
